
     body{
		background-color:black;
		font-size:14px;
		font-family:Tahoma, Geneva, sans-serif;
	}
#wrapper{
		margin:0 auto;
		width:960px;
		background:#CFC;
	}
.header{
		float:left;
		width:960px;
		background-color:#FFF;
		height:150px;
		color:#003;
		border-bottom:0;
	}
      .navigation{
		width:960px;
		background:#FF3;
		top:123px;
	}
.navigation u1{
		list-style:none;
		margin:0;
		padding:0;
	}
.navigation u1 li{
		display:inline-block;
		margin-right:-10px;
	}
.navigation u1 li a{
		font-size:14px;
		color:#FFF;
		background:#A4223C;
		font-weight:bold;
		text-transform:uppercase;
		text-decoration:none;
		padding: 10px 51px 10px 47px;
		display:block;
		margin-right:5px;
		
	}
.navigation u1 li a:hover{
		color:#000;
		background-color:#E6E6E6;
		text-decoration:underline;
	}
.navigation u1 li ul{
	position:absolute;
	display:none;
	top:195px;
	left:670px;
	margin:0;
	padding:0;
	width:200px;
	visibility:hidden;
	z-index:9999;
	height:150;
	}
.navigationu1 li ul li{
	display:block;
	}
.navigation u1 li ul li a{
	background:#EAEAEA;
	color:#000;
	padding:10px 15px;
	width:200px;
	}
.navigation u1 li ul li a:hover{
	background:#B7B7B7;
	color:#000000;
	}
.navigation u1 li:hover ul{
	display:block;
	visibility:visible;
	}
/* start container*/


.container{
	float:left;
	width:100%;
	min-height:800px;
	background:#FFFFFF;
	padding-bottom:30px;
}
/****************start left_sidebar***************/
.left_sidebar{
	float:left;
	width:220px;
	padding:0 16px;
	margin-top:20px 0;
}
      .content{
	float:right;
	width:660px;
	padding:20px;
}
	    
.important_link{
	float:left;
	width:100%;
	}
.important_link h3{
	font-size:18px;
	font-weight:bold;
	color:#C30;
	background:#8F8F8F;
	padding:12px;
	margin:8px;
	border-radius:8px;
	padding:5px;
	}
.important_link u1{
	margin:0;
	padding:0;
	list-style:none;
	}
.important_link u1 li{
	display:block;
	margin:0;
	position:relative;
	}
.important_link u1 li a{
	display:block;
	font-size:14px;
	color:#000;
	background:#E6E6E6;
	text-decoration:none;
	border-bottom:1px dashed #000000;
	padding:15px 7px;
	}
.important_link u1 li a:hover{
	background:#AAA;
	color:#000;
	text-decoration:underline;
}
	    
.gallery{
	float:left;
	width:100%;
	top:200px;
	margin-left:-5px;
}
.gallery .image{
	float:left;
	width:200px;
	margin-right:30px;
	top:100px;
	margin-top:30px;
}

.gallery .last{
	margin-right:0;
}
.footer{
	
	float:left;
	width:920px;
	padding:20px;
	background:#CCC;
	color:#666666;
	top:300px;
}
 




